### 파이썬 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

#### 1. 주석(comment)과 출력(print)

In [4]:
# 주석 : 앞에 #을 붙이면 코드로 실행이 안됩니다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을때 사용
# 단축키 : ctrl + / 
# 블럭설정 : shift + 방향키

# 1, 2, 3을 출력하는 코드
print(1)
print(2)
print(3)

1
2
3

In [5]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을때 사용
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [19]:
# print 함수의 옵션
# docsting : 함수에 대한 설명, 단축키 (shift + tap)
# 기본은 end = "\n" (new line)
# 자동완성 : tab
print(1, 2)
print(3)

1 2
3

In [12]:
print(1, 2, end = " ")
print(3)

1 2 3

In [17]:
print(1, 2, sep = "-", end = "\t")
print(3)

1-2	3

In [18]:
print(1, 2, sep = "-", end = "-")
print(3)

1-2-3

In [20]:
python_data_science = 1

In [21]:
python_data_science

1

#### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [24]:
a = 1
b = 2
c = a + b
c

3

In [26]:
d, e = 3, 4
f = g = 5
d, e, f, g

(3, 4, 5, 5)

#### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자 라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_)를 사용합니다.
    - 가장 앞에 숫자 사용 불가
    - 예약어 사용 불가 : def, class, try, ....
    - 컨벤션
        - snake_case : fast_campus : 변수, 함수
        - CamelCase : FastCampus, Fastcampus : 클래스

#### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적 타이핑 
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [27]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [33]:
# 기본 데이터 타입 : int, float, bool, str
a = 1
b = 2.2
c = False # True
d = "data"
type(a),type(b),type(c),type(d)

(int, float, bool, str)

In [34]:
a + b

3.2

In [36]:
a + c # bool은 True = 1, bool = 0 으로 인식

1

In [40]:
# 데이터 타입에 함수 : 문자열
e = d.upper()
e

'DATA'

In [41]:
d, e

('data', 'DATA')

In [44]:
f = " Fast campus "

In [45]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [47]:
# strip : 앞 뒤의 공백 제거
f.strip()

'Fast campus'

In [48]:
# replace : 특정 문자열 치환
f.replace("Fast", "Slow")

' Slow campus '

In [49]:
# dir : 사용가능한 함수 확인
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [50]:
# 오프셋 인덱스 : 마스크, 마스킹 []
# 문자열은 순서가 있는 문자들의 집합

In [51]:
g = "abcdefg"

In [57]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'aceg', 'gfedcba')

In [59]:
numbers = "123456789" #97531 출력

In [60]:
numbers[::-2]

'97531'

In [62]:
numbers[::2][::-1]

'97531'

#### 컬렉션 데이터 타입 : list, tuple, dict
- List [] = 순서가 있는 수정이 가능한 데이터 타입
- tuple () = 순서가 있는 수정이 불가능한 데이터 타입
- dict {} = 순서가 없고, 키 : 값으로 구성되어 있는 데이터 타입

In [66]:
# List
ls = [1, 2, 3, 'four', [5, 6], True, 1.2]
type(ls),ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [69]:
# offset index 사용이 가능
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [70]:
# List 함수

In [3]:
ls = [1, 5, 2, 4]

In [4]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3]

In [5]:
# sort : 오름 차순으로 정령
ls.sort()
ls

[1, 2, 3, 4, 5]

In [17]:
# 내림차순은 함수가 없음으로, 오름차순의 역순 혹은 (reverse = True)
ls[::-1]

[1, 2, 3, 4, 5]

In [13]:
ls = [1, 5, 2, 4]
ls.append(3)
ls.sort()
ls

[1, 2, 3, 4, 5]

In [16]:
# 내림차순은 함수가 없음으로, 오름차순의 역순 혹은 (reverse = True)
ls.sort(reverse = True)
ls

[5, 4, 3, 2, 1]

In [89]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(4, [1, 2, 3, 3])

In [90]:
# 리스트의 복사

In [99]:
ls1 = [1, 2, 3]
ls2 = ls1 # 주소값 복사 (얕은 복사) : 리스트만 복사되어, ls2와 ls1은 서로 같은 주소값을 참조하고 있다.
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [100]:
ls1[2] = 5
ls1, ls2 # 위의 내용에 따라서 ls1이 바뀌면 ls2도 바뀌고 반대의 경우도 마찬가지다.

([1, 2, 5], [1, 2, 5])

In [103]:
ls3 = ls1.copy() # 깊은 복사 : 리스트의 주소값이 복사되어 새로운 주소값이 생김
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [106]:
ls1[2] = 10
ls1, ls3 # 위의 내용에 따라서 ls1이 바뀌어도 ls3은 바뀌지 않는다.

([1, 2, 10], [1, 2, 5])

#### tuple() : 리스트와 같지만 수정이 불가능한 데이터 타입
- tuple은 리스트보다 같은 데이터를 가졌을때 공간을 적게 사용

In [109]:
tp1 = 1, 2, 3
tp2 = (4, 5, 6)
type(tp1),type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (4, 5, 6))

In [111]:
a, b = 1, 2
a, b

(1, 2)

In [115]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [7]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls),sys.getsizeof(tp))

88 72

#### dict {}
- 순서가 없고 {키 : 값}으로 구성되어 있는 데이터 타입

In [118]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능
# 인덱스 대신 키를 사용

dic = {
    1 : "one",
    "two" : 2,
    "three" : [1, 2,3]
}
type(dic), dic

(dict, {1: 'one', 'two': 2, 'three': [1, 2, 3]})

In [119]:
dic[1], dic["three"]

('one', [1, 2, 3])

In [120]:
dic["two"] = 123
dic

{1: 'one', 'two': 123, 'three': [1, 2, 3]}

In [123]:
# 아래의 데이터를 list와 dic으로 선언
# 도시 : seoul, busan, deagu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [126]:
# list
city = ["seoul", "busan", "deagu"]
population = [9700000, 3400000, 2400000]
city, population

(['seoul', 'busan', 'deagu'], [9700000, 3400000, 2400000])

In [128]:
# dic
data = {
    'seoul' : 9700000,
    'busan' : 3400000,
    'deagu' : 2400000,    
}
data

{'seoul': 9700000, 'busan': 3400000, 'deagu': 2400000}

In [129]:
sum(population)

15500000

In [131]:
sum(data.values())

15500000

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, bool, str, list, tuple, dict

In [133]:
a = 1
b = "2"
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [134]:
a + int(b)

3

In [135]:
str(a) + b

'12'

In [136]:
city, population

(['seoul', 'busan', 'deagu'], [9700000, 3400000, 2400000])

In [138]:
# zip : 같은 인덱스 데이터 끼리 묶어주는 함수
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('deagu', 2400000)]

In [141]:
result = dict(zip(city, population))
result

{'seoul': 9700000, 'busan': 3400000, 'deagu': 2400000}

In [144]:
data1 = list(result.keys())
data2 = list(result.values())
data1, data2

(['seoul', 'busan', 'deagu'], [9700000, 3400000, 2400000])

In [146]:
string = "python"
int(string) # string은 int 형태로 형변환이 불가

ValueError: invalid literal for int() with base 10: 'python'

### 6. 연산자
- 산술 연산자 : `+, -, *, /, //, %, **`
- 할당 연산자 : 변수에 누적시켜서 연산 +=, -=, **=, //=
- 비교 연산자 : >, <, ==, !=, >=, <= 결과로 True, False
- 논리 연산자 : True, False를 연산 or, and, not
- 멤버 연산자 : 특정 데이터가 있는지 확인할때 사용 in, not in

In [8]:
# 산술연산자
a = 1
b = 2
a + b

3

In [9]:
(1 + 4) / 2 ** 2

1.25

In [10]:
# 할당 연산자
a = 10
a = a + 10
a = a + 10
a

30

In [11]:
a = 10
a += 10
a += 10
a

30

In [157]:
# 비교 연산
print(a, b)
a > b, a == b, a < b

30 2

(True, False, False)

In [158]:
# 논리 연산
True and False, True or False, not True or False

(False, True, False)

In [161]:
# 멤버 연산
ls = ['jin', 'andy', 'john']
"andy" in ls, "mm" in ls, "jin" not in ls

(True, False, False)

In [168]:
# 랜덤함수
import random

random.randint(1,10)

7

In [170]:
# 입력 함수
data = input("insert string : ")
data

insert string : dd

'dd'

In [172]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [174]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index에 해당하는 솔루션 리스트의 데이터를 출력

In [178]:
# 솔루션을 리스트로 작성
solutions = [
    "안녕하세요.",
    '네.',
    '아니요.'
]

# 질문 입력 받음
data = input("질문을 입력하세요 : ")

# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
idx = random.randint(0, len(solutions) -1)

# index에 해당하는 솔루션 리스트의 데이터를 출력
solutions[idx]

질문을 입력하세요 : ㅓㅣㅏㅇ

'아니요.'