### class : 클래스
- 변수와 함수를 묶어놓은 개념
- 사용 방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

In [1]:
#### 1. 기본 클래스의 사용

In [3]:
# 클래스의 선언
class Calculator:
    num1 = 1
    num2 = 2
    
    def plus(self): # 클래스에서 사용하는 모든 함수는 파라미터는 처음에 self를 사용
        return self.num1 + self.num2

    def minus(self):
        return self.num1 - self.num2

In [5]:
# 클래스의 사용 (객체로 만들기)
calc = Calculator() # 함수와 문법이 똑같음 그래서 camelcase로 식별자를 구분함
calc

In [10]:
calc.num1, calc.num2,  calc.plus, calc.minus #변수 및 함수확인 함수뒤에 ()를 붙이면 실행

(1,
 2,
 <bound method Calculator.plus of <__main__.Calculator object at 0x000001BBD654EF88>>,
 <bound method Calculator.minus of <__main__.Calculator object at 0x000001BBD654EF88>>)

In [11]:
calc.num1, calc.num2,  calc.plus(), calc.minus() #변수 및 함수확인 함수뒤에 ()를 붙이면 실행

(1, 2, 3, -1)

In [15]:
# self의 의미 : 객체 자신
calc2 = Calculator()

In [22]:
calc2.num1 = 10 # calc2 객체의 num1함수를 num = 1에서 num1 = 10으로 변수를 변경함

In [20]:
calc2.plus()

12

In [24]:
# self = 객체 자신 
# calc2 에서
# self.num1 + self.num2 = calc2.num1 + calc2.num2

# 객체 지향 = 객체 = object
### 2. 객체 지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트를 완성시키기 위한 방법
- 실제 세계는 설계도 작성(class) -> 실제 물건(object, 객체)
- 사용자 정의 데이터 타입 -> 내가 직접 만듬 calculator vs print

In [30]:
calc2.plus()

12

In [31]:
obj = "python" # obj = python이라는 단어를 가지고 있는 문자열 데이터 타입을 가지는 객체
obj.upper() # upper라는 함수 return(저장 기능이 없음)

'PYTHON'

In [35]:
ls = [1, 3, 2]
ls.sort() # 오름차순으로 만드는 함수, return
ls

[1, 2, 3]

In [37]:
[data for data in dir(calc) if data[:2] != "__"]

['minus', 'num1', 'num2', 'plus']

#### 3. 생성자
- 클래스가 객체로 생성될때 실행되는 함수
- 변수(재료)를 추가할때 사용
- `__init__`

In [53]:
class Calculator :
    # num1 = 1 객체를 만들면 num1, num2는 1,2로 들어감
    # num2 = 2
    
    # 생성자 만드는 함수 객체를 만들때 num1, num2를 무조건 만들어야함
    # 함수이기에 default parameter 사용가능 ex num2 = 10
    # *args, **kwargs 사용 가능
    def __init__(self, num1, num2): 
        self.num1 = num1 
        self.num2 = num2
    
    def plus(self): # 클래스에서 사용하는 모든 함수는 파라미터는 처음에 self를 사용
        return self.num1 + self.num2

    def minus(self):
        return self.num1 - self.num2

In [48]:
calc1 = Calculator(1,2)

In [51]:
calc1.plus(), calc1.minus()

(3, -1)

In [55]:
# join
ls = ["python", "is", "good"]
".".join(ls)

'python.is.good'

In [56]:
# pandas dataframe
import pandas as pd

In [62]:
df = pd.DataFrame([
    {"name" : "jin", "age" : 20},
    {"name" : "andy", "age" : 10}
])
df

   name  age
0   jin   20
1  andy   10