# install ubuntu
- sudo apt-get install mysql-server libmysqlclient-dev
- pip install mysqlclient sqlalchemy

In [2]:
import MySQLdb

In [1]:
db = MySQLdb.connect(
    "ipaddr", # database server public ip
    'userid', # user
    'passwd', # passwd
    'world', # database name
)

NameError: name 'MySQLdb' is not defined

In [11]:
# 쿼리 작성
QUERY = """
    show tables;
"""

In [12]:
# 쿼리 실행
curs = db.cursor()
curs.execute(QUERY)

6

In [13]:
# 결과 출력
rows = curs.fetchall()
rows

(('USER',),
 ('addr',),
 ('city',),
 ('code_name',),
 ('country',),
 ('countrylanguage',))

In [15]:
# 데이터프레임으로 가져오기
import pandas as pd

In [16]:
QUERY = """
    SELECT *
    FROM country
"""

In [17]:
df = pd.read_sql(QUERY, db)
df.tail(2)

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW