### SQLAlchemy
- python애서 사용하는 ORM
- ORM : Object Relational Mapping
    - 데이터베이스를 객체화 시켜서 데이터 베이스에 있는 데이터를 CRUD 할수 있다.
    - CRUD : 생성, 읽기, 업데이트, 삭제의 약자
    - 쿼리 대신 함수 형태로 CRUD를 할수있음
    - 사용하는 데이터 베이스를 변경하는 경우 엔진만 바꿔주면 됨
    - NoSQL은 사용안됨
- pip install sqlalchemy

In [6]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [7]:
# 데이터 베이스 연결

In [8]:
engine = create_engine("mysql://user:pw@ipaddr/test") #charset = utf8

In [50]:
# 테이블 객체 생성을 위한 클래스 작성
Base = declarative_base()

class User(Base):
    
    __tablename__ = "user" #테이블 이름
    
    # 컬럼 데이터 작성
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # 생성자 함수
    def __init__(self, name, email, age, rdate) :
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    # repr 함수
    def __repr__(self):
        return "<User {},{},{},{}>".format(
            self.name, self.email, self.age, self.rdate)

In [51]:
# engine에 연결된 데이터 베이스(test)에 테이블 생성
Base.metadata.create_all(engine)

In [52]:
# 데이터 베이스에 session 연결
Session = sessionmaker(engine) # 클래스 생성
session = Session() # 객체 생성
session

#### 1. insert

In [53]:
user = User('jin', 'jin@gmail.com', 27,'2016-03-21')
user

In [54]:
session.add(user)

In [55]:
# run transaction
session.commit()

In [56]:
# many insert
users = [
    User("alice","alice@gmail.com", 25, '2018-02*21' ),
    User("andy",'andy@daum.com', 33, '2015-10*21' ),
]
users

[<User alice,alice@gmail.com,25,2018-02*21>,
 <User andy,andy@daum.com,33,2015-10*21>]

In [57]:
session.add_all(users)

In [58]:
session.commit()

In [59]:
# rollbac : session에 있는 객체를 초기화
session.rollback()

#### 2. select

In [60]:
# all
results = session.query(User).all()
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>]

In [61]:
# filter : ==, !=, >, <, <=, >=, like in_
results = session.query(User).filter(User.name == 'jin')
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>]

In [62]:
# filter : like
results = session.query(User).filter(User.name.like('%gmail%'))
list(results)

[]

In [63]:
# filter : in_
results = session.query(User).filter(User.name.in_(['alice','andy']))
list(results)

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>]

In [64]:
# filter : or_
results = session.query(User).filter(
    or_(User.name =='jin', User.age == 33)
)
list(results)

[<User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>]

In [72]:
# order by 오름차순
results = session.query(User).order_by(User.age.asc())
list(results) # 리스트로 감싸주어야 함

[<User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>]

In [74]:
# order by 내림차순
results = session.query(User).order_by(User.age.desc())
list(results) # 리스트로 감싸주어야 함

[<User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User andy,andy@daum.com,33,2015-10-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User jin,jin@gmail.com,27,2016-03-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>,
 <User alice,alice@gmail.com,25,2018-02-21 00:00:00>]

In [75]:
# count
session.query(User).count()

13

#### 3. update

In [78]:
data = session.query(User).filter(User.name =='jin')
data[0]

In [79]:
data[0].age =30

In [81]:
session.add(data[0])

In [82]:
session.commit()

#### 4. Delete

In [84]:
# delete row
session.query(User).filter(User.name =='jin').delete()

7

In [85]:
session.commit()

In [ ]:
# delete table
User.__table__.drop(engine)

#### 5. With pandas

In [1]:
import seaborn as sns

In [2]:
import pandas as pd

- 데이터 저장하기

In [4]:
iris_df = sns.load_dataset('iris')
iris_df.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [9]:
engine

Engine(mysql://root:***@13.209.146.29/test)

In [10]:
iris_df.to_sql(name='iris', con = engine, if_exists='replace')

- 데이터 가져오기

In [12]:
engine = create_engine("mysql://user:passwd@ip/world") #charset = utf8

In [13]:
QUERY = '''
    SELECT *
    FROM city
'''
city_df = pd.read_sql(QUERY, engine)
city_df.tail()

        ID        Name CountryCode    District  Population
4074  4075  Khan Yunis         PSE  Khan Yunis      123175
4075  4076      Hebron         PSE      Hebron      119401
4076  4077    Jabaliya         PSE  North Gaza      113901
4077  4078      Nablus         PSE      Nablus      100231
4078  4079       Rafah         PSE       Rafah       92020