### pymongo
- python에서 MongoDB 작업을 위한 도구
- pymongo install
    - pip install pymongo==2.8.1

In [2]:
import pymongo
import pandas as pd

In [3]:
import zigbang as zb

ModuleNotFoundError: No module named 'zigbang'

In [1]:
# 데이터베이스 서버 연결
client = pymongo.MongoClient("mongodb://user:passwd@ip:27017/")
client

NameError: name 'pymongo' is not defined

In [11]:
# 데이터 베이스와 컬렉션 생성 
# client 서버
# zigbang 컬렉션
zigbang = client.crawling.zigbang
zigbang

Collection(Database(MongoClient('13.209.146.29', 27017), 'crawling'), 'zigbang')

In [15]:
items = zb.oneroom('성수동')
len(items)

9

In [23]:
items[0]

{'section_type': None,
 'item_id': 19841586,
 'images_thumbnail': 'https://ic.zigbang.com/ic/items/19841586/1.jpg',
 'sales_type': '월세',
 'sales_title': '월세',
 'deposit': 1000,
 'rent': 40,
 'size_m2': 13.22,
 '공급면적': {'m2': 13.22, 'p': '4'},
 '전용면적': {'m2': 13.22, 'p': '4'},
 'room_type_title': None,
 'floor': '3',
 'floor_string': '3',
 'building_floor': '4',
 'title': '역세권 저렴한 원룸,즉시입주',
 'is_first_movein': None,
 'room_type': '01',
 'address': '성동구 성수동1가',
 'random_location': {'lat': 37.54279445352654, 'lng': 127.04537678000693},
 'is_zzim': False,
 'status': True,
 'service_type': '원룸',
 'tags': [],
 'address1': '서울시 성동구 성수동1가',
 'address2': None,
 'address3': None,
 'manage_cost': '5.5',
 'reg_date': '2020-01-21T13:19:33+09:00',
 'is_new': False,
 '_id': ObjectId('5e4694a7e0858f65b6f18b95')}

In [18]:
ids = zigbang.insert(items)
len(ids)

9

- 데이터 프레임 저장

In [29]:
sungsoo_df = pd.DataFrame(items)
columns = ["floor",'address1','rent','size_m2','deposit']
sungsoo_df = sungsoo_df[columns]
sungsoo_df.tail()

  floor       address1  rent  size_m2  deposit
4     3  서울시 성동구 성수동1가     0  42.9800    26000
5     고  서울시 성동구 성수동1가     0  66.1200    17000
6     7  서울시 성동구 성수동1가    60  26.4463     1000
7     1  서울시 성동구 성수동1가     0  26.4500     6000
8     2  서울시 성동구 성수동1가     0  39.6700    12000

- 몽고디비에 넣기

In [32]:
zigbang2 = client.crwaling.zigbang2

In [35]:
items = sungsoo_df.to_dict("records")
items[0]

{'floor': '3',
 'address1': '서울시 성동구 성수동1가',
 'rent': 40,
 'size_m2': 13.22,
 'deposit': 1000}

In [36]:
ids = zigbang2.insert(items)
len(ids)

9

- 데이터(find)

In [37]:
results = zigbang2.find()

In [43]:
QUERY = {'rent':{"$lte":50}}
results = zigbang2.find(QUERY)
pd.DataFrame(results).tail()

                        _id       address1  deposit floor  rent  size_m2
3  5e469739e0858f65b6f18ba1  서울시 성동구 성수동1가     1000     3    45    23.14
4  5e469739e0858f65b6f18ba2  서울시 성동구 성수동1가    26000     3     0    42.98
5  5e469739e0858f65b6f18ba3  서울시 성동구 성수동1가    17000     고     0    66.12
6  5e469739e0858f65b6f18ba5  서울시 성동구 성수동1가     6000     1     0    26.45
7  5e469739e0858f65b6f18ba6  서울시 성동구 성수동1가    12000     2     0    39.67

In [44]:
# 컬렉션 삭제
client.crawling.drop_collection('zigbang')

In [46]:
client.crawling.drop_collection('zigbang2')

In [45]:
# 데이터 베이스 삭제
client.drop_database("crawling")